name: ci

on: [push, workflow_dispatch]

env:
  NODE_OPTIONS: --max-old-space-size=5000 --max-semi-space-size=64
  CC_TEST_REPORTER_ID: 7997607c5b558cb4d41dc064f3df1a81c07f2de9861ed73c738c23ed8dbab69e

jobs:
  check:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message , 'skip ci')"
    steps:
      - { uses: actions/checkout@v6, with: { persist-credentials: false } }
      - uses: pnpm/action-setup@v4
      - { uses: actions/setup-node@v6, with: { node-version: 'lts/*', cache: 'pnpm' } }
      - run: pnpm ci:setup
      - run: echo "CACHE_DATE=$(date +%F)" >> "$GITHUB_ENV"
      - name: node_modules/.cache
        uses: actions/cache@v5
        with:
          path: packages/*/node_modules/.cache
          key: ${{ runner.os }}-nmcache-${{ hashFiles('pnpm-lock.yaml') }}-${{ env.CACHE_DATE }}
          restore-keys: |
            ${{ runner.os }}-nmcache-${{ hashFiles('pnpm-lock.yaml') }}-${{ env.CACHE_DATE }}
            ${{ runner.os }}-nmcache-${{ hashFiles('pnpm-lock.yaml') }}-
            ${{ runner.os }}-nmcache-
      - run: pnpm lint
      - run: pnpm test:all

  release:
    runs-on: ubuntu-latest
    if: github.ref_name == 'main'
    permissions:
      id-token: write # Required for OIDC
      contents: write
      issues: write
      pull-requests: write
    steps:
      - { uses: actions/checkout@v6, with: { persist-credentials: false } }
      - uses: pnpm/action-setup@v4
      - { uses: actions/setup-node@v6, with: { node-version: 'lts/*', cache: 'pnpm' } }
      - run: pnpm ci:setup
      - run: pnpm release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  docs:
    runs-on: ubuntu-latest
    if: github.ref_name == 'main'
    steps:
      - { uses: actions/checkout@v6, with: { persist-credentials: false } }
      - uses: pnpm/action-setup@v4
      - { uses: actions/setup-node@v6, with: { node-version: 'lts/*', cache: 'pnpm' } }
      - run: pnpm ci:setup
      - run: pnpm docs:build
      - name: publish docs to github pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/.vitepress/dist
          force_orphan: true
          commit_message: 'deploy docs [skip ci]'
          # publish_branch: gh-pages
